<header>
  <h1 id="trivia_title" data-triviaid="<%= trivia.id %>"><%= trivia.name %></h1>
  <h2><%= user.name %></h2>
  <p><a href="/auth/logout">Cerrar sesión</a></p>
  <h3><span id="points"><%= user.points %></span> puntos</h3>
  <h4><span id="answered"><%= answered %></span> / <span id="total"><%= total %></span> preguntas</h4>
  <% if (message != '') { %>
    <p class="info"><%= message %></p>
  <% } %>
</header>

<div>
  <div id="question-area"></div>
  <div id="timer">60</div>
  <section id="score">
    <p id="right_answer">Respuesta Correcta!</p>
    <p id="wrong_answer">Respuesta Incorrecta!</p>
    <p id="game_points"></p>
    <div id="next_question">
      <button type="button">Jugar</button>
    </div>
  </section>
</div>

<% if (user.admin == 1) { %>
  <footer>
    <p><a href="/trivia">Administrador de trivias</a></p>
  </footer>
<% } %>
